<!Doctype> 
<html lang="en">
	<head>
		<title> Player details </title>
		<% include Component/Header %>
	</head>
	<body>
		<div class="container">
			<h1> <%= Player.FullName %> </h1>
			<dl class="dl-horizontal">
				<dt> Numéro de license: </dt>
				<dd> <%= Player.LicenseNumber %> </dd>
				<dt> Categorie </dt>
				<dd> <%= Player.Category %> </dd>
				<dt> Club: </dt>
				<dd> <%= Player.Club %> </dd>
				<dt> Sexe: </dt>
				<dd> <%= Player.Gender %> </dd>
			</dl>
			<% include Component/Footer %>
		</div>
	</body>
</html>